.funny-click {
	position: absolute;
	z-index: 2101;

	display: block;
	width: 65px;
	height: 17px;

	margin-left: -32px;
	margin-top: -8px;

	background: url("../img/funny-click.png") no-repeat;
}